<div class="calculadora">
  <div class="pantalla">{{ numero1 }} {{ operacion }} {{ numero2 }}</div>
  <div class="botones">
    <button class="numero" *ngFor="let numero of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]" (click)="agregarNumero(numero)">{{ numero }}</button>
    <button class="operacion" *ngFor="let operacion of ['+', '-', '*', '/']" (click)="seleccionarOperacion(operacion)">{{ operacion }}</button>
    <button class="borrar" (click)="borrarTodo()">C</button>
    <button class="calcular" (click)="calcular()">=</button>
  </div>
</div>
